results/
site/public/
site/resources/

# Build artifacts
*.o
*.exe
.idea/
.gradle/
obj/
bin/
frameworks/*/build/
!frameworks/fletch/bin/
target/
frameworks/blitz/zig-linux-*
frameworks/blitz/.zig-cache
frameworks/fletch/.dart_tool/
!frameworks/hyperf/bin/
frameworks/zix/.zig-cache
frameworks/zix/zig-out
frameworks/zix/vendor
frameworks/zix-grpc/.zig-cache
frameworks/zix-grpc/zig-out
frameworks/zix-grpc/vendor
frameworks/zix-ws/.zig-cache
frameworks/zix-ws/zig-out
frameworks/zix-ws/vendor

# IDE settings
*.user
.vs/

# Ignore node modules anywhere in the repo
node_modules/

# macOS Finder metadata
.DS_Store
