{
	admin off
	auto_https off
	servers {
		protocols h1 h2 h3
	}
}

https://localhost:8443 {
	tls /certs/server.crt /certs/server.key

	handle /static/* {
		root * /data
		file_server {
			precompressed br gzip
		}
	}

	handle {
		reverse_proxy 127.0.0.1:8080 {
			transport http {
				versions 1.1
			}
		}
	}
}
